.c-entries{
	.c-entry-summary__meta{
		text-align: right;
	}
	.c-meta__item--author{
		display: none;
	}
}

//NEWアイコン
.p-archive .c-entry-summary--post.is-new{
	position: relative;
	&::before{
		content: "NEW";
		position: absolute;
		top: -9px;
		left: -9px;
		z-index: 2;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 0.625em;
		line-height: 1;
		width: 3.4em;
		height: 3.4em;
		background-color: map-get($colors-map, accent-color2);
		border-radius: 50%;
		box-shadow: 0 0 1px rgba(#000, 0.2);
		font-weight: bold;
		color: #fff;
	}
}